
/* .zoom {
    transform: scale(0.8);
    transform-origin:top;
    width:100vw;
    
} */
/* /details page media Queries */


@media (max-width:1199px) {

    /* main Section */
    .mainSection {
        flex-direction: column;
    }

    .mainSection .left {
        max-width: 100% !important;
    }



    .mainSection .right {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .mainSection .right .expertForm {
        grid-column: 2/2;
        grid-row: 2/3;
    }

    .mainSection .right .servicesTable .serviceCards {
        gap: 1rem;
        padding: 1rem !important;
    }

    /* Carousel Section */

    .carouselSection {
        flex-direction: column;
    }

    .carouselSection .blog_carousel {
        max-width: 100% !important;
    }

}

@media (max-width:991px) {
    .mainSection .left .blogContent .blogTable {
        max-width: 100%;
    }

    .mainSection .right {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .mainSection .right .expertForm {
        grid-column: 1/2;
        grid-row: 4/4;
    }
}

@media (max-width:450px) {
    .mainSection .left .blogContent .profile div {
        flex-direction: column;
    }

    .mainSection .left .blogContent .profile div .about_profile p {
        text-align: justify;
    }

    .mainSection .left .blogContent .profile .publishDate {
        height: 4rem;
    }

    .mainSection .left .blogContent .profile .publishDate p {
        padding-right: 1rem;
        text-align: right;
        width: 100%;
        font-size: 1.1rem;
    }

    .mainSection .left .blogContent .profile .publishDate::before {
        width: 50%;
    }
}