.blogCarousel {
    color: white;
    min-width: 100%;
}

.blogCarousel .blogCarousel_title {
    /* background: linear-gradient(to right, #1A2333, #1A2333, #0e14203d); */
    border-radius: 15px;
}

.blogCarousel .blogCarousel_title h2 {
    text-transform: uppercase;
}

.blogCarousel .blogCarousel_carousel {
    background: transparent;
   
}
.blogCarousel .blogCarousel_carousel .swiper-slide {
    border-radius: 10px;
}

/* blog Carousel Card */
.blogCarousel .blogCarouselCard {
    width: 100%;
    height: 100%;
    /* background-color: #1A2333; */
    background: black;
    cursor: pointer;
}

/* .blogCarousel .blogCarouselCard img {
    width: 100%;
    height: 50%;
} */

.blogCarousel .blogCarouselCard .cardContent .card_title {
    text-align: justify;
}

.blogCarousel .blogCarouselCard .cardContent p {
    text-align: justify;
    font-size: 0.8rem;
}
.blogCarousel .blogCarouselCard .cardContent .cardProfile .left img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.blogCarousel .blogCarouselCard .cardContent .cardProfile .right img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}