.blogContent {
    color: white;
}

.blogContent .title {
    /* background-color: #1A2333; */
}

.blogContent .title p{
    /* font-family: "Raleway" !important; */
}

.blogContent .blogHero_img {
    overflow: hidden;
}

.blogContent .blogHero_img .share {
    top: 0;
    right: 0;
    background-color: #000000A8;
    height: 99%;
    border-radius: 0 20px 20px 0;
}

.blogContent .blogHero_img .shareBtn {
    background: no-repeat center/contain url('../../../Assets/blogsPage/bg_shareBtn.svg');
    width: 100%;
    height: 25%;
}

.blogContent .blogHero_img .shareBtn img {
    width: 65px;
    height: 65px;
}

/* About Section */
.blogContent .aboutBlog {
    font-size: 1rem;
    text-align: justify;
}

/* Table Content */
.blogContent .blogTable {
    /* background-color: #1A2333; */
    background: #BBA592;
    border-radius: 20px 0 20px 0;
}

.blogContent .blogTable {
    max-width: 100%;
}

.blogContent .blogTable .table_title {
    /* background-color: #0E1420; */
    background-color: white;
    border-radius: 20px 0 0 0;

}

.blogTable .blogTable_container {
    /* background-color: #0E1420; */
    background-color: white;
    padding: 0 1rem;
    border-radius: 20px 0 20px 0;
}

.blogContent .blogTable .table_title .titleLogo {
    right: -0.5rem;
    top: -0.1rem;
    width: 80px;
    max-height: 100%;
    overflow: hidden;
}

.blogContent .blogTable .table_title .titleLogo img {
    width: 100px;
    height: 100%;
}

.blogContent .blogTable .Tablerow img {
    width: 40px;
    margin-right: 0.5rem;
}

/* profile */

.blogContent .profile .profileImg {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #1A2333;
    object-fit: contain;
}

.blogContent .profile .publishDate {
    height: 5rem;
    position: relative;
    border-radius: 0 0 0 30px;
    overflow: hidden;
}

.blogContent .profile .publishDate::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    bottom: 0;
    /* background-color: #1A2333; */
    background-color: #BBA592;
}

.blogContent .profile .publishDate::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 50%;
    top: 0;
    right: 0;
    /* background-color: #1A2333; */
    background-color: #BBA592;
    border-radius: 20px 0 0 0;
}

.blogContent .profile .publishDate p {
    padding-right: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 1;
}

.whole_content img, .main_content img{
    width: 100%;
}



.blog_image{
    height: 30rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .blog_image{
        height: 13rem;
    }
    .timetext{
        font-size: 7px;
        padding: 0px;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .blog_image{
        height: 20rem;
    }

    .timetext{
        font-size: 7px;
        padding: 2px;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .blog_image{
        height: 30rem;
    }

    .timetext{
        font-size: 12px;
        padding: 2px;
    }
   
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
    .blog_image{
        height: 30rem;
    }
    .timetext{
        font-size: 15px;
        padding: 2px;
    }

   
}