/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .mainnewtxt{
       bottom: 0;
    }
    .tittxt{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
        width: 95%;
    }
    .tittxt1{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 12px;
       
    }
    .tittxt2{
        
        margin-bottom: 10px;
        font-size: 12px;
    }
    .txt1{
        font-size: 10px;
    }
    .img1{
        height: 1rem;
        width: 2rem;
    }
    .maincar{
        height: 25rem;
    }
    .luxcar{
        height: 15rem;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .mainnewtxt{
        /* top:35%; */
        bottom: 0;
    }
    .tittxt{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 18px;
        width: 90%;
    }
    .tittxt1{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 14px;
       
    }
    .tittxt2{
        
        margin-bottom: 10px;
        font-size: 14px;
    }
    .txt1{
        font-size: 10px;
    }
    .img1{
        height: 1.5rem;
        width: 1.5rem;
    }
    .maincar{
        height: 26rem;
    }
    .luxcar{
        height: 20rem;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .mainnewtxt{
       
        bottom: 0;
    }
    .tittxt{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 20px;
        width: 90%;
    }
    .tittxt1{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
       
    }
    .tittxt2{
        
        margin-bottom: 10px;
        font-size: 14px;
    }
    .txt1{
        font-size: 14px;
    }
    .img1{
        height: 1.8rem;
        width: 1.8rem;
    }
    .maincar{
        height: 30rem;
    }
    .luxcar{
        height: 20rem;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
    .mainnewtxt{
       
        bottom: 0;
    }
    .tittxt{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 24px;
        width: 80%;
    }
    .tittxt1{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 18px;
       
    }
    .tittxt2{
        
        margin-bottom: 10px;
        font-size: 16px;
    }
    .txt1{
        font-size: 16px;
    }
    .img1{
        height: 2rem;
        width:2rem;
    }
.maincar{
    height: 35rem;
}
.luxcar{
    height: 25rem;
}
    
}


